@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #010104;
    --text-color: #EBE9FC;
    --accent-blue: #3A31D8;
}



body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    font-family: 'Roboto', 'Crimson Pro' ,serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

h1 {
    font-size: 5rem;
    letter-spacing: 8px;
    margin-bottom: 2rem;
    z-index: 2;
    /* Keeps text above background waves */
}

p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    opacity: 0.9;
    z-index: 2;
}


a {
    text-decoration: none;
    display: inline-block;
}


.select-project-btn {
    background-color: var(--accent-blue);
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    /* Makes the pill shape */
    font-size: 1rem;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.2s ease;
    cursor: pointer;
    margin-bottom: 30vh;
}

.select-project-btn:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.wave-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35vh;
    /* Adjust height of the waves here */
    min-height: 150px;
    max-height: 200px;
    overflow: hidden;
    z-index: 1;
}

.waves {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Individual Wave Animations */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

/* Back wave: slow and moving right */
.parallax>use:nth-child(1) {
    opacity: 0.7;
    animation-delay: -2s;
    animation-duration: 8s;
}

/* Front wave: faster and moving left (opposite) */
.parallax>use:nth-child(2) {
    opacity: 0.5;
    animation-direction: reverse;
    /* This makes it move opposite */
    animation-delay: -3s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}